<main>
    <app-raining-loader></app-raining-loader>
    <app-navbar></app-navbar>
    <div class="privacy-policy-container">
        <h1>Privacy Policy</h1>
        <div class="notice">
          <p>
            Thank you for using our Services. You are currently viewing the Privacy Policy for the country site that you visited. To view our Privacy Policy in other languages, go to our <a href="#">Privacy Policy Directory</a>.
          </p>
          <p>
            To learn more about how we provide our weather information to other companies who present that information to their users, go to our <a href="#">Weather Services Provider Privacy Explainer</a>.
          </p>
          <p>
            This Privacy Policy is effective as of June 14, 2024. The previous version of this Privacy Policy is available <a href="#">here</a>.
          </p>
        </div>
        <div class="content">
          <p>
            The Weather Company, LLC, the provider of The Weather Channel, Weather Underground, and Storm Radar digital services (sometimes, "we" or "us"), is committed to protecting your privacy. This Privacy Policy ("Policy") is important, and we encourage you to carefully read it.
          </p>
          <p>
            This Policy discloses how we collect, use, and share data that we gather related to your interaction with the weather.com and www.wunderground.com websites (the "Sites") and mobile and in-vehicle applications (collectively, "Apps"), and other websites and digital services that reference or link to this Policy (together, the "Services"). The Services do not include websites, mobile applications, or other services that link to another privacy policy. This Policy also describes the choices you have regarding our use of your data and your ability to access, correct, or delete your data. By using the Services, you accept the terms of this Policy, and agree to the data collection, use, and sharing described in this Policy. We may seek your consent by other means such as by asking you to click on a button or to change a setting. Where we do so, we will also offer you a way to revoke your consent.
          </p>
          <p>
            This global Policy describes our privacy practices across our supported countries; however, based on your geographic location, some sections may not be applicable to your use of the Services. For location-specific notices see Sections 12-16. If you are using any of our Apps, please ensure you keep both your device operating system ("OS") and the App up to date in order to enable the privacy controls described below.
          </p>
          <ol>
            <li><a href="#">Why and How We Collect and Use Personal Data and Other Information</a></li>
            <li><a href="#">Data Collection Technologies and Consumer Choice</a></li>
            <li><a href="#">How We Share or Disclose Your Information with Vendors</a></li>
            <li><a href="#">Other Limitations on Privacy</a></li>
            <li><a href="#">Retention Period</a></li>
            <li><a href="#">Data Rights</a></li>
            <li><a href="#">Minors' Privacy</a></li>
            <li><a href="#">International Transfers</a></li>
            <li><a href="#">Our Commitment to Security</a></li>
            <li><a href="#">Changes to the Privacy Policy</a></li>
            <li><a href="#">How to Contact Us</a></li>
            <li><a href="#">California Consumer Privacy Act (CCPA) Notice</a></li>
            <li><a href="#">U.S. State Data Privacy Laws Notice</a></li>
            <li><a href="#">General Data Protection Regulation (GDPR) Notice</a></li>
            <li><a href="#">Lei Geral de Proteção de Dados Pessoais (LGPD) Notice</a></li>
            <li><a href="#">Additional Disclosures for Korean Users</a></li>
            <li><a href="#">The Weather Channel In-Vehicle Application</a></li>
          </ol>
        </div>
      </div>
      



    <app-footer></app-footer>
</main>