main{
    height: 55px;
    width: 100%;
    background-color: #013551;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 300;
    div{
        .Cities{
            
            display: flex;
            justify-content: center;
            gap: 5px;
        }
        img{
            height: 35px;
            aspect-ratio: 1/1;
        }
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        cursor: pointer;
        color: white;
        font-size: 14px;
    }
}