main{
    height: 40px;
    width: 100%;
    background-color: #003451;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div{
        height: inherit;
        width: fit-content;
        gap: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    p{
        cursor: pointer;
        color: white;
        font-size: 14px;
    }
}