main{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #003451;
    p{
        color: white;
        font-size: 14px;
    }
}