<main>
    <app-raining-loader></app-raining-loader>
    <app-navbar></app-navbar>
    <div class="accessibility-statement-container">
        <h1>Accessibility Statement</h1>
        <p>
          At The Weather Channel and weather.com, we are committed to making our Services broadly accessible, including to users with disabilities or impairments that occur with aging.
        </p>
        <p>
          This Accessibility Statement discloses the effort we take to conform to accessibility standards, including by following The Weather Company standards and leveraging third party tools as well as taking guidance from accessibility best practices and standards defined by Section 508 of the U.S. Rehabilitation Act and the Web Content Accessibility Guidelines (WCAG 2.0) of the World Wide Web Consortium Web Accessibility Initiative (W3C WAI).
        </p>
        <p>
          This statement applies to your interaction with our website and our mobile applications.
        </p>
      
        <h2>Measures to support accessibility</h2>
        <p>
          We take the following accessibility measures relative to our websites and mobile applications:
        </p>
        <ul>
          <li>Include accessibility throughout our internal policies</li>
          <li>Provide continual accessibility training for our staff</li>
          <li>Assign clear accessibility targets and responsibilities</li>
          <li>Employ formal accessibility quality assurance methods</li>
          <li>Utilize 3rd party tooling and assessments to ensure conformance</li>
          <li>Provide 3rd party tooling with free assistive technology and support for people with disabilities</li>
        </ul>
      
        <h2>Compatibility and assistive technology</h2>
        <p>
          Our websites and mobile applications are designed to be compatible with the following systems and browsers:
        </p>
        <ul>
          <li>
            Our websites are expected to work with the following OS and Browser versions:
            <ul>
              <li>Operating systems: We support the latest two versions of iOS, Android, Windows and OSX.</li>
              <li>Browsers: The Weather Channel – weather.com supports the latest two browser versions for Google Chrome, Mozilla Firefox, Apple Safari and Microsoft Edge</li>
            </ul>
          </li>
          <li>
            Our mobile applications are expected to work with the latest operating systems for iOS and Android. Our websites and mobile applications are compatible with voice recognition programs, screen readers, screen enlargement applications, and closed captioning of digital media for the supported operating systems and browsers.
          </li>
        </ul>
      
        <h2>Limitations and alternatives</h2>
        <p>
          Despite our efforts to ensure accessibility of our Services there may be some limitations. Below is a description of known limitations, and potential solutions.
        </p>
        <p>
          Known limitations for the Services:
        </p>
        <ul>
          <li>
            <strong>Radar page:</strong> The Weather Channel properties include a Radar page that includes a map of the area and map tiles of weather events. These images are not readable by screen readers because the map tiles are generated dynamically and convey information by showing a picture of an area and the potential weather conditions for that area. Please go to the Today, Hourly or 10 Day page for weather conditions and forecast information.
          </li>
          <li>
            <strong>Orientation:</strong> The Weather Channel mobile applications are not designed for landscape view. Certain user groups such as the motorically impaired users may want to use the screen in a specific orientation (portrait or landscape) for operational convenience, but the design only supports single 'portrait' mode.
          </li>
        </ul>
      </div>
      



    <app-footer></app-footer>
</main>